.event-buttons {
  display: flex;
  flex-direction: row;
  margin: 35px 0 0 30px;

  .event-button {
    text-align: center;
    border-radius: 13px;
    height: 60px;
    width: 200px;
    background-color: #29627c;
  }
  .event-button-left {
    text-align: center;
    border-radius: 13px;
    height: 60px;
    width: 210px;
    margin-right: 26px;
    background-color: #29627c;
  }
  .event-label {
    vertical-align: middle;
    margin-top: 12px;
    font-size: 22px;
    line-height: auto;
    color: #ffffff;
  }
}

.profile-container {
  border-radius: 24px;
  background-color: #ffffff;
  filter: drop-shadow(0.1mm 0.1mm 1mm rgb(210, 210, 210));
  margin-top: 50px;
  width: 426px;
  margin-left: 30px;

  .profile-info {
    display: flex;
    padding-left: 27px;
    padding-top: 25px;
    .profile-pic {
      height: 88px;
      width: 88px;
    }
    .profile-name {
      padding-left: 30px;
      padding-top: 30px;
      font-weight: 800;
      font-size: 18;
    }
  }
  .profile-description {
    font-weight: 300;
    font-size: 16;
    vertical-align: top;
    line-height: auto;
    padding-bottom: 25px;
    margin-left: 30px;
    margin-top: 20px;
  }
}

.invitee-button {
  margin-top: 5px;
}
.add-button {
  float: right;
  //margin-right: 95px;
  background-color: rgb(76, 175, 80) !important;
  width: 180px !important;
  text-align: center;
  //padding-left: 40px;
}
.event-button-plus {
  text-align: center;
  border-radius: 13px;
  height: 60px;
  width: 200px;
  background-color: #94ca74;
  color: #000000;
}
