.view {
  background-color: whitesmoke;
}

.list-container {
  padding-top: 50px;
  margin-left: 80px;
}

.public-list {
  margin-top: 30px;
  padding-left: 50px;
}

.map-container {
  margin-left: 250px;
  padding-top: 80px;
  padding-bottom: 70px;
}

.map {
  border-radius: 20px !important;
}

.map-title {
  margin-bottom: 20px;
  font-size: 35px;
  color: rgb(41, 99, 124);
  font-weight: 800;
}