.Login {
  font-size: 10pt;
}

.marginClass {
  margin-top: 10em;
}

.BackgroundImage {
  background-image: url(./../../resources/images/BackGroundLogin.png);
  background-size: cover;
}

.login-text {
  font-weight: bold;
  font-size: 12pt;
}