.user {
  width: 100%;
  margin-top: 40px;

  .userPic {
    height: 100px;
    margin-left: 5px;
    margin-top: 5px;
    width: 100px;
  }

  .hello-user {
    text-align: left;
    vertical-align: top;
    font-size: 40px;
    margin-top: 20px;
    color: #1c4a5f;
    font-weight: 600;
  }

  .user-description {
    font-size: 15px;
    height: 8px;
    color: #000000;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .user-title {
    font-size: 18px;
    height: 10px;
    color: #1c4a5f;
    margin-left: 28px;
    font-weight: bold;
  }

  .pic-description {
    display: flex;
    flex-direction: row;
  }

  .eventUser-overview {
    margin-top: 60px;
  }
}

.eventUser-item {
  width: 700px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 6px 6px;
  background-color: #ffffff;
  border: 1px solid #e2f0f6;
  //filter: drop-shadow(1mm 0mm 1mm rgb(191, 191, 191));
  .eventUser-img {
    border-radius: 10px;
    height: 91px;
    width: 200px;
  }
  .eventUser-info {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px 6px;
  }
  .eventUser-name {
    text-align: left;
    vertical-align: top;
    font-size: 20px;
    line-height: 100%;
    color: #00388c;
    font-weight: bold;
  }
  .eventUser-information {
    text-align: left;
    vertical-align: top;
    font-size: 14px;
    line-height: 100%;
    color: #00388c;
    margin-left: 8px;
  }
}

.eventUser-list {
  margin-top: 40px;
}


.event-overview {
  width: 900px;
  display: flex;

  .event-tasks {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: left;
  }
}

.user-buttons {
  display: flex;
  flex-direction: row;
  margin: 35px 0 0 30px;

  .user-button {
    border-radius: 13px;
    height: 60px;
    width: 220px;
    background-color: #29627c;
  }
  .user-button-left {
    border-radius: 13px;
    height: 60px;
    width: 220px;
    margin-right: 26px;
    background-color: #29627c;
    margin-right: 26px;
  }
  .user-label {
    vertical-align: top;
    font-size: 22px;
    line-height: auto;
    color: #ffffff;
  }
}


.user-container-list {
  position: fixed;
  height: 100%;
  display: flex;
  margin-top: 0px!important;

  .user-scrollable-list {
    padding-right: 15px;
    height: 100%;
    overflow-y: scroll;
    min-width: 500px;
    padding-bottom: 20px;
  }
}


