.event-item {
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 6px 6px;
  background-color: #ffffff;
  border: 1px solid #e2f0f6;
  //filter: drop-shadow(1mm 0mm 1mm rgb(191, 191, 191));
  .img {
    border-radius: 24px;
    height: 91px;
    width: 200px;
  }
  .info {
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 20px 6px;
  }
  .event-name {
    text-align: left;
    vertical-align: top;
    font-size: 16px;
    line-height: 100%;
    color: #00388c;
  }
  .event-information {
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    line-height: 100%;
    color: #00388c;
  }
}
