.container-profile {
  border-radius: 24px;
  background-color: #ffffff;
  filter: drop-shadow(0.1mm 0.1mm 1mm rgb(210, 210, 210));
  margin-top: 50px;
  width: 426px;
  margin-left: 30px;

  .name-pic {
    display: flex;
    padding-left: 27px;
    padding-top: 25px;
    .user-name {
      padding-left: 30px;
      padding-top: 30px;
      font-weight: 800;
      font-size: 18;
    }
    .profilePic {
      height: 88px;
      width: 88px;
      border-radius: 100%;
    }
  }

  .description {
    font-weight: 300;
    font-size: 16;
    text-align: left;
    vertical-align: top;
    line-height: auto;
    padding-bottom: 25px;
  }
}
